<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <a href="" ng-click="vm.logout()">{{vm.signInTitle}}</a>
        </div>
        <div class="col-sm-6 pull-right">
            <span>{{vm.getCurrentUserName()}}</span>
        </div>
    </div>

    <h2>My todos</h2>

    <!-- Todos input -->
    <form role="form" ng-submit="vm.addTodo()">
        <div class="row">
            <div class="input-group">
                <input type="text" ng-model="vm.todo" placeholder="What needs to be done?" class="form-control">
                <span class="input-group-btn">
                  <input type="submit" class="btn btn-primary" value="Add" ng-disabled="!vm.todo">
                </span>
            </div>
        </div>
    </form>
    <p></p>

    <!-- Todos list -->
    <div>
        <p  class="input-group"
            ng-repeat="todo in vm.todos | orderBy:'-Id'"
            style="padding:5px 10px; cursor: move;"
            ng-class="{'todo-completed': todo.completed}">
            <span class="input-group-btn">
                <button class="btn"><input type="checkbox" class="btn btn-primary" ng-model="todo.completed" ng-click="vm.updateTodo(todo)"></button>
            </span>
            <input  type="text"
                    ng-disabled="todo.completed"
                    ng-model="todo.description"
                    ng-change="vm.updateTodo(todo)"
                    ng-model-options="{updateOn: 'blur'}"
                    class="form-control" >
            <span class="input-group-btn">
                <button class="btn btn-danger" ng-click="vm.removeTodo(todo)" aria-label="Remove">X</button>
            </span>
        </p>
    </div>
</div>