<!-- Backand Login model -->
<div>
    <h2>Backand Sign In</h2>
    <h4>Use your Backand username and password to sign in<br>or
    <a ui-sref="todos">view the todo list as a guest (read only)</a></h4>
</div>
<div class="body">
    <form class="form"
          name="form"
          ng-submit="login.authenticate()"
          novalidate
          ng-model-options="{updateOn: 'default blur', debounce: {'default': 200, 'blur': 0}}">
        <fieldset>

            <div class="form-group">
                <div class="checkbox">
                    <label for="newUser">
                        <input type="checkbox"
                               name="newUser"
                               id="newUser"
                               placeholder="New User"
                               ng-model="login.newUser">
                        New User
                    </label>
                </div>
            </div>

            <div class="form-group">
                <input type="email"
                       class="form-control"
                       name="username"
                       placeholder="Your Backand username"
                       ng-model="login.username"
                       required>
                <div class="text-danger" ng-show="form.username.$error.email">This is not a valid email.</div>
            </div>
            <div class="form-group">
                <input type="password"
                       class="form-control"
                       name="password"
                       placeholder="Your Backand password"
                       ng-model="login.password"
                       required>
            </div>

            <div class="form-group" ng-hide="login.appNameExists">
                <input type="text"
                       class="form-control"
                       name="appName"
                       placeholder="Your Backand app name"
                       ng-model="login.appName"
                       required>
            </div>

            <div class="form-group">
                <input type="text"
                       class="form-control"
                       name="name"
                       placeholder="Your first name"
                       ng-model="login.firstName"
                       ng-show="login.newUser">
            </div>
            <div class="form-group">
                <input type="text"
                       class="form-control"
                       name="name"
                       placeholder="Your last name"
                       ng-model="login.lastName"
                       ng-show="login.newUser">
            </div>
            <div ng-hide="login.newUser" class="form-group">
                <button type="submit"
                        class="btn btn-primary pull-right">
                    Sign in
                </button>
            </div>
            <div ng-show="login.newUser" class="form-group">
                <button type="submit"
                        class="btn btn-primary pull-right">
                    Sign up
                </button>
            </div>
            <div class="form-group">
                <a ui-sref="resetPassword" href="">Forgot Password</a>
            </div>
        </fieldset>
    </form>
    <div ng-show="login.error" class="alert alert-danger">{{login.error}}</div>
    <div ng-show="login.success" class="alert alert-success">{{login.success}}</div>
</div>

<div class="social-signin-block">
    <h4>or Sign {{login.newUser ? 'Up' : 'In'}} with:</h4>
    <a class="btn btn-block btn-social"
       ng-repeat="(providerKey, providerDetails) in login.socialProviders"
       ng-class="'btn-' + providerDetails.name"
       ng-click="login.socialSignIn(providerDetails)">
        <i class="fa" ng-class="'fa-' + providerDetails.css"></i> {{providerDetails.label}}
    </a>
</div>
