<!-- Backand Login model -->
<div class="header">
    <h2>Reset Password</h2>
</div>
<div class="body">
    <form class="form" name="myForm" ng-submit="resetPassword.reset()" novalidate>
        <fieldset>
            <div class="form-group">
                <input type="email"
                       class="form-control"
                       placeholder="Your Backand username"
                       ng-model = "resetPassword.username"
                       ng-model-options="{debounce: 200}"
                       ng-show="resetPassword.sendEmail"
                       required>
                <div class="text-danger" ng-show="myForm.username.$error.email">This is not a valid email.</div>
            </div>

            <div class="form-group">
                <input type="password"
                       class="form-control"
                       name="password"
                       placeholder="New Password"
                       ng-model="resetPassword.newPassword"
                       ng-model-options="{debounce: 200}"
                       ng-show="!resetPassword.sendEmail"
                       ng-minlength="6"
                       ng-maxlength="20">
            </div>
            <div class="form-group">
                <input type="password"
                       class="form-control"
                       placeholder="Confirm Password"
                       name="confirm_password"
                       ng-model="resetPassword.confirmPassword"
                       ng-model-options="{debounce: 200}"
                       ng-show="!resetPassword.sendEmail">
            </div>
            <div class="form-group">
                <button type="submit"
                        class="btn btn-primary pull-right">
                    {{ resetPassword.sendEmail ? 'Reset' : 'Update' }}
                </button>
            </div>
        </fieldset>
    </form>
    <div ng-show="resetPassword.error" class="alert alert-danger">{{resetPassword.error}}</div>
    <div ng-show="resetPassword.success" class="alert alert-success">{{resetPassword.success}}</div>
</div>
