<!-- Backand Login model -->
<div class="header">
    <h2>Backand Login</h2>
    <h4>Use your Backand username and password to login</h4>
</div>
<div class="body">
        <form class="form" name="form" ng-submit="signIn()" >
            <fieldset>
                <div class="form-group">
                    <input type="email"
                           class="form-control"
                           name = "username"
                           placeholder="Your Backand username"
                           ng-model = "username"
                           ng-model-options="{debounce: 200}"
                           required>
                    <div class="text-danger" ng-show="form.username.$error.email">This is not a valid email.</div>
                </div>
                <div class="form-group">
                    <input type="password"
                           class="form-control"
                           name = "password"
                           placeholder="Your Backand password"
                           ng-model = "password"
                           ng-model-options="{debounce: 200}"
                           required>
                </div>
                <div class="form-group">
                    <input type="text"
                           class="form-control"
                           name = "appName"
                           placeholder="Your Backand app name"
                           ng-model = "appName"
                           ng-model-options="{debounce: 200}"
                           required>
                </div>
                <div class="form-group">
                    <button type="submit"
                            class="btn btn-primary pull-right">
                        Log in
                    </button>
                </div>
            </fieldset>
        </form>
    <div ng-show="error" class="alert alert-danger">{{error}}</div>
    <div class="divider"></div>
        <section class="additional-info">
            <p class="text-center">
                <span>Don't have an app? </span>
                <strong><a href="https://www.backand.com/apps/#/sign_up">Sign up</a></strong>
            </p>
        </section>
    </div>
</div>
